{% extends 'base.html' %}

{% block title %} Liste des intervenants {% endblock %}

{% block page_header %}

  <div class="row">
      <div class="col-md-8">
          <h2 class="text-center">Intervenants par Délégation</h2>
      </div>
      <div class="col">
          <div class="text-center">
          <form id="myForm">
              <input class="form-control" type="search" onkeydown="disableEnterKey(event)"
                  name="search" placeholder="Recherche un intervenant par n°/nom" 
                  hx-post="{{ url_for('search.intervenants') }}" 
                  hx-trigger="keyup changed delay:500ms, search" 
                  hx-target="#search-results" 
                  hx-swap='outerHTML'
                  hx-indicator=".htmx-indicator"
                  id="search-input">
          </form>
        </div>
      </div>

  </div>


{% endblock page_header %}

{% block content %}

<div class='py-4' id="search-results">
<!-- accordion -->

  {% for dele in delegation %}
  <div class="accordion mb-2" id="accordion-{{ loop.index }}">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading{{ loop.index }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
          {{ dele }}
        </button>
      </h2>
      <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordion-{{ loop.index }}">
        <div class="accordion-body">
              <table class="table table-hover">
                  <thead class="thead-dark">
                      <tr>
                          <th>id</th>
                          <th>Nom</th>
                          <th>Prenom</th>
                          <th>Email</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for benevole in benevoles %}
                          {% if benevole.delegation == dele %}
                          <tr style="transform: rotate(0);">
                            <th scope="row"><a href="{{ url_for('intervenants.intervenant_par_id', id=benevole.id) }}" class="stretched-link text-decoration-none text-dark">{{ benevole.id}}</a></th>
                              <td>{{ benevole.nom }}</td>
                              <td>{{ benevole.prenom }}</td>
                              <td>{{ benevole.email }}</td>
                          </tr>
                          {% endif %}
                      {% endfor %}
                  </tbody>
              </table>

        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script>
  function disableEnterKey(event) {
      if (event.keyCode === 13) {
        event.preventDefault(); // Empêche le comportement par défaut de la touche "Entrée"
      }
  }

</script>


{% endblock content %}