{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %} Recherche avancée sur txt{% endblock %}

{% block page_header %}


{% endblock page_header %}

{% block content %}

<!-- Le bouton pour ajouter un nouveau champ de formulaire -->
<button class="btn btn-info" hx-post={{ url_for("search.add_field") }} hx-target="#form-fields" hx-swap="beforeend">
  Ajouter un champ de formulaire
</button>


<!-- Les champs de formulaire existants -->
<form id="my-form" name="my-form" method="POST" hx-post={{ url_for("search.combinaison_sur_txt_search") }} hx-target="#results"  hx-vals="#my-form input, #my-form select" novalidate>
  <div id="form-fields">
    <div class="row mb-2" name='test'>
      <div class="col-4">
        <p>Critères de recherche</p>
        <div class="form-group">
          <select class="form-select" name="champs">
            <option value="" selected disabled>-- Sélectionnez une option --</option>
            <option value="langue_maternelle">Langue : maternelle</option>
            <option value="autonome">Langue : autonome</option>
            <option value="notions">Langue: notions</option>
            <option value="lu_parle_ecrit">Langue : lu parlée écrite</option>
            <option value="domaines">Domaine d'intervetion</option>
            <option value="fonctions">Fonction d'intervention</option>
            <option value="competences">Compétence d'intervention</option>
            <option value="exp_pro">Expérience Pays (Pro)</option>
            <option value="exp_benevole">Expérince Pays (Bénévolat)</option>
          </select>
        </div>
      </div>
      <div class="col-8">
        <p>Spécificité</p>
        <input type="text" class="form-control" name="recherche" placeholder="Mot clé" required/>
      </div>
    </div>
  </div>
</form>

<button class="btn btn-primary" type="submit" form="my-form" hx-post={{ url_for("search.combinaison_sur_txt_search") }} hx-target="#results">Rechercher</button>

<div id='results'>
</div>

{% endblock %}