{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %} Recherche avancée {% endblock %}

{% block page_header %}
<h3> 
  Recherche avancée
</h3>

{% endblock page_header %}

{% block content %}

<div class='mb-2'>
<!-- Les champs de formulaire existants -->
<form id="my-form" name="my-form" method="POST" hx-post={{ url_for("search.combinaison_search") }} hx-target="#results"  hx-vals="#my-form input, #my-form select" novalidate>
  <div id="form-fields">
    <div class="row mb-2" name='test'>
      <div class="col-4">
        <p>Critères</p>
        <div class="form-group">
          <select class="form-select" name="champs">
            <option value="" selected disabled>-- Sélectionnez une option --</option>
            <option value="langue_maternelle">Langue : maternelle</option>
            <option value="autonomes">Langue : autonome</option>
            <option value="notions">Langue: notions</option>
            <option value="lu_parle_ecrit">Langue : lu parlée écrite</option>
            <option value="domaines">Domaine d'intervetion</option>
            <option value="fonctions">Fonction d'intervention</option>
            <option value="competences">Compétence d'intervention</option>
            <option value="exp_pro">Expérience Pays (Pro)</option>
            <option value="exp_benevole">Expérince Pays (Bénévolat)</option>
          </select>
        </div>
      </div>
      <div class="col-4">
        <p>Spécificité</p>
        <input type="text" class="form-control" name="recherche" placeholder="Mot clé" required/>
      </div>
      <div class='col-2 d-flex align-items-end'>
        <button class="btn btn-info" hx-post={{ url_for("search.add_field") }} hx-target="#form-fields" hx-swap="beforeend">
          Ajouter un champs
        </button>
      </div>
    </div>
  </div>
</form>
</div>

<div class='d-flex justify-content-center mb-4'>
  <button class="btn btn-primary" type="submit" form="my-form" hx-post={{ url_for("search.combinaison_search") }} hx-target="#results">Rechercher</button>
</div>
<div id='results'>
</div>

{% endblock %}