<div class="row mb-4" name='test'>
    <div class="col-4">
      <p>Critères</p>
      <div class="form-group">
        <select class="form-select" name="champs">
          <option value="" selected disabled>-- Sélectionnez une option --</option>
          <option value="langue_maternelle">Langue : maternelle</option>
          <option value="autonomes">Langue : autonome</option>
          <option value="notions">Langue: notions</option>
          <option value="lu_parle_ecrit">Langue : lu parlée écrite</option>
          <option value="domaines">Domaine d'intervention</option>
          <option value="fonctions">Fonction d'intervention</option>
          <option value="competences">Compétence d'intervention</option>
          <option value="exp_pro">Expérience Pays (Pro)</option>
          <option value="exp_benevole">Expérince Pays (Bénévolat)</option>
        </select>
      </div>
    </div>
    <div class="col-6">
      <p>Spécificité</p>
      <input type="text" class="form-control" name="recherche"  placeholder="Mot clé" />
    </div>
    <div class='col-2 d-flex align-items-end justify-content-center'>
      <div class="btn-group gap-2">
        <a type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Ajouter un champs" hx-post="{{ url_for("search.add_field") }}" hx-target="#form-fields" hx-swap="beforeend">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
            </svg>
            <span class="visually-hidden">Plus</span>
          </a>
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer ce champs" onclick="deleteRow(this)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
          </svg>
          <span class="visually-hidden">Minus</span>
        </button>

      </div>
    </div>

</div>

<script>
function deleteRow(btn) {
  btn.parentNode.parentNode.parentNode.remove();
}
</script>