<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image">
    <title>
        {% block title %} {% endblock %}
    </title>
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@1.8.5" integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w" crossorigin="anonymous"></script>

    {% block additional_css %}{% endblock %}

    {% block additional_script %}{% endblock %}

  </head>

  <body> 
    <!-- Layout du site -->
    <main role="main" class="container">
      {% block header %}{% include "_header.html" %} {% endblock header%}
      <div class="py-6">
      {% block page_header %} {% endblock page_header %}
      {% block content %} {% endblock %}
      </div>


    </main>

    {% block scripts %}
      <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }}

    {% endblock %}

  </body>
</html>